{% comment %}
  Renders a specific vector icon for a given name.

  Accepts:
    - icon: {string} Icon name or handle (required)
    - class: {string} Icon wrapper classname
    - label: {string} aria-label
    - fill: {string} color (required)

  Usage:
    {% render 'icon', icon: 'icon-name', class: 'class-name', label: 'label', fill: 'color' %}
{% endcomment %}
{% if fill == blank %}
  {% assign fill = 'currentColor' %}
{% endif %}

<span
  {% if label %}
    aria-label="{{ label }}"
  {% endif %}
  {% if class %}
    class="{{ class }}"
  {% endif %}
>
  {% if icon and icon != empty %}
    {% case icon %}
      {% when 'play' %}
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
          <g clip-path="url(#clip0_122_229)">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M8 1.5C4.41015 1.5 1.5 4.41015 1.5 8C1.5 11.5899 4.41015 14.5 8 14.5C11.5899 14.5 14.5 11.5899 14.5 8C14.5 4.41015 11.5899 1.5 8 1.5ZM0.5 8C0.5 3.85786 3.85786 0.5 8 0.5C12.1421 0.5 15.5 3.85786 15.5 8C15.5 12.1421 12.1421 15.5 8 15.5C3.85786 15.5 0.5 12.1421 0.5 8ZM6.36407 4.75916C6.52665 4.67215 6.72392 4.68169 6.87735 4.78397L11.0773 7.58397C11.2164 7.67671 11.3 7.83282 11.3 8C11.3 8.16718 11.2164 8.32329 11.0773 8.41603L6.87735 11.216C6.72392 11.3183 6.52665 11.3278 6.36407 11.2408C6.20149 11.1538 6.1 10.9844 6.1 10.8V5.2C6.1 5.0156 6.20149 4.84617 6.36407 4.75916Z" fill="{{ fill }}"/>
          </g>
          <defs>
            <clipPath id="clip0_122_229">
              <rect width="16" height="16" fill="white"/>
            </clipPath>
          </defs>
        </svg>
      {% when 'chevron-left' %}
        <svg
          class="icon h-full w-full {{ icon }}"
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          viewBox="0 0 16 16"
          fill="none"
        >
          <path fill-rule="evenodd" clip-rule="evenodd" d="M5.15002 7.6499L9.65002 3.1499L10.3571 3.85701L6.21068 8.00346L10.3571 12.1499L9.65002 12.857L5.15002 8.35701L5.15002 7.6499Z" fill="{{ fill }}"/>
        </svg>
      {% when 'chevron-right' %}
        <svg
          class="icon h-full w-full {{ icon }}"
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          viewBox="0 0 16 16"
          fill="none"
        >
          <path fill-rule="evenodd" clip-rule="evenodd"
                d="M10.3572 7.6499L5.85718 3.1499L5.15007 3.85701L9.29652 8.00346L5.15007 12.1499L5.85718 12.857L10.3572 8.35701L10.3572 7.6499Z"
                fill="{{ fill }}" />
        </svg>
      {% when 'chevron-up' %}
        <svg
          class="icon h-full w-full {{ icon }}"
          xmlns="http://www.w3.org/2000/svg"
          width="10"
          height="6"
          viewBox="0 0 10 6"
          fill="none"
        >
          <path fill-rule="evenodd" clip-rule="evenodd" d="M4.64648 0.146409L0.146484 4.64641L0.853591 5.35352L5.00004 1.20707L9.14648 5.35352L9.85359 4.64641L5.35359 0.146409H4.64648Z" fill="{{ fill }}"/>
        </svg>
      {% when 'chevron-down' %}
        <svg xmlns="http://www.w3.org/2000/svg" width="10" height="6" viewBox="0 0 10 6" fill="none">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M4.64645 5.35359L0.146454 0.853591L0.853561 0.146484L5.00001 4.29293L9.14645 0.146484L9.85356 0.853591L5.35356 5.35359H4.64645Z" fill="{{ fill }}"/>
        </svg>
      {% when 'arrow-right' %}
        <svg
          class="icon h-full w-full {{ icon }}"
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          viewBox="0 0 16 16"
          fill="none"
        >
          <path fill-rule="evenodd" clip-rule="evenodd" d="M8.67271 3.5L13 7.66236V8.33764L8.67271 12.5L7.98188 11.8247L11.4753 8.47749H3V7.52251H11.4753L7.98188 4.17527L8.67271 3.5Z" fill="{{ fill }}"/>
        </svg>
      {% when 'close' %}
        <svg
          class="icon h-full w-full {{ icon }}"
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          viewBox="0 0 16 16"
          fill="none"
        >
          <path fill-rule="evenodd" clip-rule="evenodd" d="M7.26911 8L3.5 4.23089L4.23089 3.5L8 7.26911L11.7691 3.5L12.5 4.23089L8.73089 8L12.5 11.7691L11.7691 12.5L8 8.73089L4.23089 12.5L3.5 11.7691L7.26911 8Z" fill="{{ fill }}"/>
        </svg>
      {% when 'checkmark' %}
        <svg
          class="icon h-full w-full {{ icon }}"
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          viewBox="0 0 16 16"
          fill="none"
        >
          <path fill-rule="evenodd" clip-rule="evenodd" d="M13.3536 5.35359L7.35359 11.3536H6.64648L2.64648 7.35359L3.35359 6.64648L7.00004 10.2929L12.6465 4.64648L13.3536 5.35359Z" fill="{{ fill }}"/>
        </svg>
      {% when 'burger' %}
        <svg
          class="icon h-full w-full {{ icon }}"
          xmlns="http://www.w3.org/2000/svg"
          width="14"
          height="12"
          viewBox="0 0 14 12"
          fill="none"
        >
          <path fill-rule="evenodd" clip-rule="evenodd" d="M13.5 1H0.5V0H13.5V1ZM13.5 6.5H4V5.5H13.5V6.5ZM13.5 12H0.5V11H13.5V12Z" fill="{{ fill }}"/>
        </svg>
      {% when 'trash' %}
        <svg
          class="icon h-full w-full {{ icon }}"
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          viewBox="0 0 16 16"
          fill="none"
        >
          <path fill-rule="evenodd" clip-rule="evenodd" d="M5.19285 2L5.69285 1.5H10.3078L10.8078 2V3.50022H14V4.50022H12.6536V14L12.1536 14.5H3.84643L3.34643 14V4.50022H2V3.50022H5.19285V2ZM9.80779 3.49962H6.19285V2.5H9.80779V3.49962ZM4.34643 4.50022V13.5H11.6536V4.50022H4.34643Z" fill="{{ fill }}"/>
        </svg>
      {% when 'pen' %}
        <svg
          class="icon h-full w-full {{ icon }}"
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          viewBox="0 0 16 16"
          fill="none"
        >
          <path fill-rule="evenodd" clip-rule="evenodd" d="M2.00003 14.5L1.50003 13.9943L1.5 9.94875L1.64645 9.59117L9.64651 1.5L10.3536 1.5L14.3536 5.54559L14.3536 6.26074L6.35365 14.3519L6.00009 14.5L2.00003 14.5ZM2.50003 13.4886H5.79298L13.2929 5.90316L10.0001 2.57274L2.5 10.1582L2.50003 13.4886Z" fill="{{ fill }}"/>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M14.5001 14.5H9.50006V13.4886H14.5001V14.5Z" fill="{{ fill }}"/>
        </svg>
      {% when 'email' %}
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M0.499954 2.5L0.999954 2H15L15.5 2.5V4.4908C15.5001 4.49662 15.5001 4.50244 15.5 4.50825V13.5L15 14H0.999954L0.499954 13.5V4.50826C0.499853 4.50244 0.499852 4.49662 0.499954 4.49079V2.5ZM1.49995 5.38145V13H14.5V5.38145L8.25651 9.11392H7.74339L1.49995 5.38145ZM14.5 4.21638V3H1.49995V4.21638L7.99995 8.10222L14.5 4.21638Z" fill="{{ fill }}"/>
        </svg>
      {% when 'heart' %}
        <svg
          class="icon h-full w-full {{ icon }}"
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          viewBox="0 0 16 16"
          fill="none"
        >
          <path fill-rule="evenodd" clip-rule="evenodd" d="M2.18909 2.73928C2.95227 1.94734 3.9901 1.5 5.075 1.5C5.69854 1.5 6.25912 1.59246 6.80481 1.83908C7.22048 2.02695 7.60898 2.29591 8 2.65236C8.39102 2.29591 8.77952 2.02695 9.19519 1.83908C9.74088 1.59246 10.3015 1.5 10.925 1.5C12.0099 1.5 13.0477 1.94734 13.8109 2.73928C14.5737 3.53079 15 4.60164 15 5.71562C15 7.48374 13.8751 8.79497 12.9062 9.78034L8.358 14.5H7.642L3.09495 9.78157C2.116 8.7992 1 7.48928 1 5.71562C1 4.60164 1.42633 3.53079 2.18909 2.73928ZM5.075 2.51175C4.2636 2.51175 3.4828 2.8461 2.90509 3.44558C2.32697 4.0455 2 4.86182 2 5.71562C2 7.04283 2.8317 8.09278 3.80203 9.06612L3.80805 9.07216L8 13.4222L12.1955 9.06853C13.1633 8.08456 14 7.0356 14 5.71562C14 4.86182 13.673 4.0455 13.0949 3.44558C12.5172 2.8461 11.7364 2.51175 10.925 2.51175C10.4045 2.51175 9.99012 2.58792 9.60306 2.76285C9.2123 2.93946 8.81757 3.23113 8.358 3.70802H7.642C7.18243 3.23113 6.7877 2.93946 6.39694 2.76285C6.00988 2.58792 5.59546 2.51175 5.075 2.51175Z" fill="{{ fill }}"/>
        </svg>
      {% when 'heart-filled' %}
        <svg
          class="icon h-full w-full {{ icon }}"
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          viewBox="0 0 16 16"
          fill="none"
        >
          <path fill-rule="evenodd" clip-rule="evenodd" d="M2.18909 2.73928C2.95227 1.94734 3.9901 1.5 5.075 1.5C5.69854 1.5 6.25912 1.59246 6.80481 1.83908C7.22048 2.02695 7.60898 2.29591 8 2.65236C8.39102 2.29591 8.77952 2.02695 9.19519 1.83908C9.74088 1.59246 10.3015 1.5 10.925 1.5C12.0099 1.5 13.0477 1.94734 13.8109 2.73928C14.5737 3.53079 15 4.60164 15 5.71562C15 7.48374 13.8751 8.79497 12.9062 9.78034L8.358 14.5H7.642L3.09495 9.78157C2.116 8.7992 1 7.48928 1 5.71562C1 4.60164 1.42633 3.53079 2.18909 2.73928Z" fill="{{ fill }}"/>
        </svg>
      {% when 'search' %}
        <svg
          class="icon h-full w-full {{ icon }}"
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          viewBox="0 0 16 16"
          fill="none"
        >
          <path fill-rule="evenodd" clip-rule="evenodd" d="M7.0636 2.01054C4.27291 2.01054 2.0106 4.27272 2.0106 7.06325C2.0106 9.85378 4.27291 12.116 7.0636 12.116C9.8543 12.116 12.1166 9.85378 12.1166 7.06325C12.1166 4.27272 9.8543 2.01054 7.0636 2.01054ZM1 7.06325C1 3.71461 3.71477 1 7.0636 1C10.4124 1 13.1272 3.71461 13.1272 7.06325C13.1272 8.5576 12.5866 9.92568 11.6902 10.9826L15 14.2846L14.2862 15L10.975 11.6965C9.91914 12.5887 8.55418 13.1265 7.0636 13.1265C3.71477 13.1265 1 10.4119 1 7.06325Z" fill="currentColor"/>
        </svg>
      {% when 'shield' %}
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M2.31359 3.25344L7.80497 1H8.19503L13.6864 3.25344L14 3.71771V6.45708C14 10.2065 11.7044 13.5831 8.19221 15H7.80779C4.29553 13.5831 2 10.2065 2 6.45708V3.71771L2.31359 3.25344ZM3.01724 4.05331V6.45708C3.01724 9.72906 4.97916 12.6824 8 13.9888C11.0208 12.6824 12.9828 9.72906 12.9828 6.45708V4.05331L8 2.00859L3.01724 4.05331ZM10.545 5.97958C10.7436 6.17589 10.7436 6.49419 10.545 6.69051L7.7403 9.46254L7.021 9.46254L5.45501 7.91476C5.25638 7.71845 5.25638 7.40015 5.45501 7.20383C5.65363 7.00751 5.97568 7.00751 6.1743 7.20383L7.38065 8.39615L9.8257 5.97957C10.0243 5.78325 10.3464 5.78326 10.545 5.97958Z" fill="{{ fill }}"/>
        </svg>
      {% when 'user' %}
        <svg
          class="icon h-full w-full {{ icon }}"
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          viewBox="0 0 16 16"
          fill="none"
        >
          <g clip-path="url(#clip0_465_2767)">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M8 1C4.13401 1 1 4.13401 1 8C1 10.2676 2.07824 12.2834 3.75 13.5626V11.75L4.25 11.25H11.7668L12.2668 11.7531L12.2558 13.5582C13.9242 12.2788 15 10.265 15 8C15 4.13401 11.866 1 8 1ZM11.2518 14.2005L11.2638 12.25H4.75V14.2014C5.72119 14.7114 6.8269 15 8 15C9.17383 15 10.2802 14.7111 11.2518 14.2005ZM0 8C0 3.58172 3.58172 0 8 0C12.4183 0 16 3.58172 16 8C16 12.4183 12.4183 16 8 16C3.58172 16 0 12.4183 0 8ZM8 4.75C7.0335 4.75 6.25 5.5335 6.25 6.5C6.25 7.4665 7.0335 8.25 8 8.25C8.9665 8.25 9.75 7.4665 9.75 6.5C9.75 5.5335 8.9665 4.75 8 4.75ZM5.25 6.5C5.25 4.98122 6.48122 3.75 8 3.75C9.51878 3.75 10.75 4.98122 10.75 6.5C10.75 8.01878 9.51878 9.25 8 9.25C6.48122 9.25 5.25 8.01878 5.25 6.5Z" fill="{{ fill }}"/>
          </g>
          <defs>
            <clipPath id="clip0_465_2767">
              <rect width="16" height="16" fill="white"/>
            </clipPath>
          </defs>
        </svg>
      {% when 'bag' %}
        <svg
          class="icon h-full w-full {{ icon }}"
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          viewBox="0 0 16 16"
          fill="none"
        >
          <path fill-rule="evenodd" clip-rule="evenodd" d="M3.26133 0.207255L3.66667 0H12.3333L12.7387 0.207255L14.9053 3.20725L15 3.5V15.5L14.5 16H1.5L1 15.5V3.5L1.09466 3.20725L3.26133 0.207255ZM3.92232 1L2.47788 3H13.5221L12.0777 1H3.92232ZM14 4H2V15H14V4ZM5.61111 6V9H10.3889V6H11.3889V9.5L10.8889 10H5.11111L4.61111 9.5V6H5.61111Z" fill="{{ fill }}"/>
        </svg>
      {% when 'settings' %}
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
          <g clip-path="url(#clip0_541_3066)">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M3.625 1.5C2.45139 1.5 1.5 2.45139 1.5 3.625C1.5 4.7986 2.45139 5.75 3.625 5.75C4.7986 5.75 5.75 4.7986 5.75 3.625C5.75 2.45139 4.7986 1.5 3.625 1.5ZM0.5 3.625C0.5 1.89911 1.89911 0.5 3.625 0.5C5.1807 0.5 6.4709 1.63679 6.71022 3.125H15.5V4.125H6.71022C6.47089 5.61321 5.1807 6.75 3.625 6.75C1.89911 6.75 0.5 5.35089 0.5 3.625ZM12.375 10.25C11.2014 10.25 10.25 11.2014 10.25 12.375C10.25 13.5486 11.2014 14.5 12.375 14.5C13.5486 14.5 14.5 13.5486 14.5 12.375C14.5 11.2014 13.5486 10.25 12.375 10.25ZM9.28978 11.875C9.5291 10.3868 10.8193 9.25 12.375 9.25C14.1009 9.25 15.5 10.6491 15.5 12.375C15.5 14.1009 14.1009 15.5 12.375 15.5C10.8193 15.5 9.5291 14.3632 9.28978 12.875H0.5V11.875H9.28978Z" fill="{{ fill }}"/>
          </g>
          <defs>
            <clipPath id="clip0_541_3066">
              <rect width="16" height="16" fill="white"/>
            </clipPath>
          </defs>
        </svg>
      {% when 'minus' %}
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          viewBox="0 0 16 16"
          fill="none"
          class="icon h-full w-full {{ icon }}"
        >
          <path fill-rule="evenodd" clip-rule="evenodd" d="M13 8.5H3V7.5H13V8.5Z" fill="{{ fill }}"/>
        </svg>
      {% when 'plus' %}
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          viewBox="0 0 16 16"
          fill="none"
          class="icon h-full w-full {{ icon }}"
        >
          <path fill-rule="evenodd" clip-rule="evenodd" d="M7.5 7.5V3H8.5V7.5H13V8.5H8.5V13H7.5V8.5H3V7.5H7.5Z" fill="{{ fill }}"/>
        </svg>
      {% when 'play-solid' %}
        <svg
          class="icon h-full w-full {{ icon }}"
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          viewBox="0 0 16 16"
          fill="none"
        >
          <g clip-path="url(#clip0_122_398)">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M0.5 8C0.5 3.85786 3.85786 0.5 8 0.5C12.1421 0.5 15.5 3.85786 15.5 8C15.5 12.1421 12.1421 15.5 8 15.5C3.85786 15.5 0.5 12.1421 0.5 8ZM6.36417 4.75911C6.52675 4.67211 6.72402 4.68164 6.87745 4.78393L11.0774 7.58393C11.2165 7.67666 11.3001 7.83278 11.3001 7.99995C11.3001 8.16713 11.2165 8.32324 11.0774 8.41598L6.87745 11.216C6.72402 11.3183 6.52675 11.3278 6.36417 11.2408C6.20159 11.1538 6.1001 10.9844 6.1001 10.8V5.19995C6.1001 5.01555 6.20159 4.84612 6.36417 4.75911Z" fill="{{ fill }}"/>
          </g>
          <defs>
            <clipPath id="clip0_122_398">
              <rect width="16" height="16" fill="white"/>
            </clipPath>
          </defs>
        </svg>
      {% when 'info' %}
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
          <g clip-path="url(#clip0_122_416)">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M8 1C4.13401 1 1 4.13401 1 8C1 11.866 4.13401 15 8 15C11.866 15 15 11.866 15 8C15 4.13401 11.866 1 8 1ZM0 8C0 3.58172 3.58172 0 8 0C12.4183 0 16 3.58172 16 8C16 12.4183 12.4183 16 8 16C3.58172 16 0 12.4183 0 8ZM7.99625 3.50001C8.27238 3.49794 8.49792 3.72012 8.49999 3.99625L8.50749 4.99625C8.50956 5.27238 8.28738 5.49791 8.01125 5.49999C7.73512 5.50206 7.50959 5.27988 7.50751 5.00375L7.50001 4.00375C7.49794 3.72762 7.72012 3.50209 7.99625 3.50001ZM8 6.5C8.27614 6.5 8.5 6.72386 8.5 7V12C8.5 12.2761 8.27614 12.5 8 12.5C7.72386 12.5 7.5 12.2761 7.5 12V7C7.5 6.72386 7.72386 6.5 8 6.5Z" fill="{{ fill }}"/>
          </g>
          <defs>
            <clipPath id="clip0_122_416">
              <rect width="16" height="16" fill="white"/>
            </clipPath>
          </defs>
        </svg>
      {% when 'info-1' %}
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
          <g clip-path="url(#clip0_895_6903)">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M8 0C3.58172 0 0 3.58172 0 8C0 12.4183 3.58172 16 8 16C12.4183 16 16 12.4183 16 8C16 3.58172 12.4183 0 8 0ZM8.75 4C8.75 3.58579 8.41421 3.25 8 3.25C7.58579 3.25 7.25 3.58579 7.25 4V5C7.25 5.41421 7.58579 5.75 8 5.75C8.41421 5.75 8.75 5.41421 8.75 5V4ZM8.75 7.5C8.75 7.08579 8.41421 6.75 8 6.75C7.58579 6.75 7.25 7.08579 7.25 7.5V12C7.25 12.4142 7.58579 12.75 8 12.75C8.41421 12.75 8.75 12.4142 8.75 12V7.5Z" fill="{{ fill }}"/>
          </g>
          <defs>
            <clipPath id="clip0_895_6903">
              <rect width="16" height="16" fill="white"/>
            </clipPath>
          </defs>
        </svg>
      {% when 'twitter' %}
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
          <path d="M9.3319 6.92804L14.5437 1H13.3087L8.78327 6.14724L5.16883 1H1L6.46574 8.78354L1 15H2.2351L7.01406 9.56434L10.8312 15H15L9.3316 6.92804H9.3319ZM7.64026 8.85211L2.68013 1.90977H4.57717L13.3093 14.1316H11.4122L7.64026 8.85241V8.85211Z" fill="{{ fill }}"/>
        </svg>
      {% when 'linkedin' %}
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
          <path d="M14.4 0H1.6C0.72 0 0 0.72 0 1.6V14.4C0 15.28 0.72 16 1.6 16H14.4C15.28 16 16 15.28 16 14.4V1.6C16 0.72 15.28 0 14.4 0ZM4.8 13.6H2.4V6.4H4.8V13.6ZM3.6 5.04C2.8 5.04 2.16 4.4 2.16 3.6C2.16 2.8 2.8 2.16 3.6 2.16C4.4 2.16 5.04 2.8 5.04 3.6C5.04 4.4 4.4 5.04 3.6 5.04ZM13.6 13.6H11.2V9.36C11.2 8.72003 10.64 8.16 10 8.16C9.36 8.16 8.8 8.72003 8.8 9.36V13.6H6.4V6.4H8.8V7.36C9.2 6.72 10.08 6.24 10.8 6.24C12.32 6.24 13.6 7.52 13.6 9.04V13.6Z" fill="{{ fill }}"/>
        </svg>
      {% when 'facebook' %}
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
          <path d="M16 8C16 11.9931 13.0744 15.3028 9.25 15.9028V10.3125H11.1141L11.4688 8H9.25V6.49937C9.25 5.86656 9.56 5.25 10.5538 5.25H11.5625V3.28125C11.5625 3.28125 10.6469 3.125 9.77156 3.125C7.94438 3.125 6.75 4.2325 6.75 6.2375V8H4.71875V10.3125H6.75V15.9028C2.92563 15.3028 0 11.9931 0 8C0 3.58187 3.58187 0 8 0C12.4181 0 16 3.58187 16 8Z" fill="{{ fill }}"/>
        </svg>
      {% when 'success' %}
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
          <g clip-path="url(#clip0_895_6906)">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M0 8C0 3.58172 3.58172 0 8 0C12.4183 0 16 3.58172 16 8C16 12.4183 12.4183 16 8 16C3.58172 16 0 12.4183 0 8ZM11.295 6.19752C11.5683 6.46088 11.5683 6.88788 11.295 7.15124L7.29999 11L5.01005 8.80503C4.73668 8.54166 4.73668 8.11467 5.01005 7.85131C5.28342 7.58795 5.72663 7.58795 6 7.85131L7.29999 9.09256L10.305 6.19752C10.5784 5.93416 11.0216 5.93416 11.295 6.19752Z" fill="{{ fill }}"/>
          </g>
          <defs>
          <clipPath id="clip0_895_6906">
          <rect width="16" height="16" fill="white"/>
          </clipPath>
          </defs>
        </svg>
      {% when 'warning' %}
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
          <g clip-path="url(#clip0_895_6909)">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M6.28221 1.96552C7.04579 0.678162 8.95475 0.678159 9.71833 1.96552L15.7315 12.1035C16.4951 13.3908 15.5407 15 14.0135 15H1.98706C0.459889 15 -0.494595 13.3908 0.268988 12.1035L6.28221 1.96552ZM8.75 8.5C8.75 8.91421 8.41421 9.25 8 9.25C7.58579 9.25 7.25 8.91421 7.25 8.5V5C7.25 4.58579 7.58579 4.25 8 4.25C8.41421 4.25 8.75 4.58579 8.75 5V8.5ZM8.75 12C8.75 12.4142 8.41421 12.75 8 12.75C7.58579 12.75 7.25 12.4142 7.25 12V11C7.25 10.5858 7.58579 10.25 8 10.25C8.41421 10.25 8.75 10.5858 8.75 11V12Z" fill="{{ fill }}"/>
          </g>
          <defs>
            <clipPath id="clip0_895_6909">
              <rect width="16" height="16" fill="white"/>
            </clipPath>
          </defs>
        </svg>
      {% when 'error' %}
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
          <g clip-path="url(#clip0_895_6912)">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M0 8C0 3.58172 3.58172 0 8 0C12.4183 0 16 3.58172 16 8C16 12.4183 12.4183 16 8 16C3.58172 16 0 12.4183 0 8ZM6.02426 5.07564C5.78995 4.84132 5.41005 4.84132 5.17574 5.07564C4.94142 5.30995 4.94142 5.68985 5.17574 5.92417L7.25147 7.9999L5.17574 10.0756C4.94142 10.31 4.94142 10.6899 5.17574 10.9242C5.41005 11.1585 5.78995 11.1585 6.02426 10.9242L8.1 8.84843L10.1757 10.9242C10.4101 11.1585 10.7899 11.1585 11.0243 10.9242C11.2586 10.6899 11.2586 10.31 11.0243 10.0756L8.94853 7.9999L11.0243 5.92417C11.2586 5.68985 11.2586 5.30995 11.0243 5.07564C10.7899 4.84132 10.4101 4.84132 10.1757 5.07564L8.1 7.15137L6.02426 5.07564Z" fill="{{ fill }}"/>
          </g>
          <defs>
            <clipPath id="clip0_895_6912">
              <rect width="16" height="16" fill="white"/>
            </clipPath>
          </defs>
        </svg>
      {% when 'loader' %}
        <svg
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          width="100"
          height="100"
          viewBox="0 0 100 100"
          preserveAspectRatio="xMidYMid"
        >
          <style>
            .spinner_z9k8 {
              transform-origin: center;
              animation: spinner_StKS .75s infinite linear
            }

            @keyframes spinner_StKS {
              100% {
                transform: rotate(360deg)
              }
            }
          </style>
          <circle cx="50" cy="50" r="25" stroke-width="4" stroke="#3C4C5F" stroke-dasharray="39.269908169872416 39.269908169872416" fill="none" stroke-linecap="round" class="spinner_z9k8"></circle>
        </svg>
      {% when 'star-filled' %}
        <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12" fill="none">
          <path
              d="M8.52266 7.35543C8.44895 7.41431 8.41781 7.51523 8.44462 7.60843L9.70822 12L6.12647 9.37915C6.08842 9.35142 6.04432 9.33755 6 9.33755C5.95568 9.33755 5.91158 9.35142 5.87353 9.37915L2.29178 12L3.55538 7.60843C3.58219 7.51523 3.55106 7.41431 3.47734 7.35543L0 4.58365L4.36261 4.49C4.45514 4.48795 4.53686 4.42567 4.56713 4.33361L6 0L7.43288 4.33361C7.46314 4.42567 7.54486 4.48795 7.63739 4.49L12 4.58365L8.52266 7.35543Z"
              fill="#FFD100" />
        </svg>
      {% when 'star-half-filled' %}
        <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M8.52266 7.35543C8.44894 7.41431 8.41781 7.51523 8.44462 7.60843L9.70822 12L6.12647 9.37915C6.08842 9.35142 6.04432 9.33755 6 9.33755C5.95568 9.33755 5.91158 9.35142 5.87353 9.37915L2.29178 12L3.55538 7.60843C3.58219 7.51523 3.55106 7.41431 3.47734 7.35543L0 4.58365L4.36261 4.49C4.45514 4.48795 4.53686 4.42567 4.56713 4.33361L6 0L7.43287 4.33361C7.46314 4.42567 7.54486 4.48795 7.63739 4.49L12 4.58365L8.52266 7.35543Z" fill="#FFF0A9"/>
          <path d="M5.87353 9.37915C5.91158 9.35142 5.95568 9.33755 6 9.33755V0L4.56713 4.33361C4.53686 4.42567 4.45514 4.48795 4.36261 4.49L0 4.58365L3.47734 7.35543C3.55106 7.41431 3.58219 7.51523 3.55538 7.60843L2.29178 12L5.87353 9.37915Z" fill="#FFD100"/>
        </svg>

      {% when 'star-empty' %}
        <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M8.52266 7.35543C8.44894 7.41431 8.41781 7.51523 8.44462 7.60843L9.70822 12L6.12647 9.37915C6.08842 9.35142 6.04432 9.33755 6 9.33755C5.95568 9.33755 5.91158 9.35142 5.87353 9.37915L2.29178 12L3.55538 7.60843C3.58219 7.51523 3.55106 7.41431 3.47734 7.35543L0 4.58365L4.36261 4.49C4.45514 4.48795 4.53686 4.42567 4.56713 4.33361L6 0L7.43287 4.33361C7.46314 4.42567 7.54486 4.48795 7.63739 4.49L12 4.58365L8.52266 7.35543Z" fill="#FFF0A9"/>
        </svg>
      {% when 'triangle-left' %}
        <svg xmlns="http://www.w3.org/2000/svg" width="15" height="30" viewBox="0 0 15 30" fill="none">
          <path d="M0 15L15 0V30L0 15Z" fill="{{ fill }}"/>
        </svg>
      {% when 'triangle-right' %}
        <svg xmlns="http://www.w3.org/2000/svg" width="15" height="30" viewBox="0 0 15 30" fill="none">
          <path d="M15 15L0 0V30L15 15Z" fill="{{ fill }}"/>
        </svg>
      {% when 'icon-play' %}
        <svg class="icon h-full w-full {{ icon }}" xmlns="http://www.w3.org/2000/svg" width="41" height="40" viewBox="0 0 41 40" fill="none">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M1.75 20C1.75 9.64466 10.1447 1.25 20.5 1.25C30.8553 1.25 39.25 9.64466 39.25 20C39.25 30.3553 30.8553 38.75 20.5 38.75C10.1447 38.75 1.75 30.3553 1.75 20ZM16.4104 11.8978C16.8169 11.6803 17.31 11.7041 17.6936 11.9598L28.1936 18.9598C28.5414 19.1916 28.7502 19.5819 28.7502 19.9999C28.7502 20.4178 28.5414 20.8081 28.1936 21.0399L17.6936 28.0399C17.31 28.2957 16.8169 28.3195 16.4104 28.102C16.004 27.8844 15.7502 27.4609 15.7502 26.9999V12.9999C15.7502 12.5389 16.004 12.1153 16.4104 11.8978Z" fill="#FFD100"/>
        </svg>
      {% when 'blue-accent-arrow-right' %}
        <svg width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
          <rect width="36" height="36" rx="18" fill="#C4CCE3" fill-opacity="0.5"/>
          <path d="M25.3172 18.4422L19.6922 24.0672C19.5749 24.1844 19.4159 24.2503 19.25 24.2503C19.0841 24.2503 18.9251 24.1844 18.8078 24.0672C18.6905 23.9499 18.6247 23.7908 18.6247 23.625C18.6247 23.4591 18.6905 23.3001 18.8078 23.1828L23.3664 18.625H11.125C10.9592 18.625 10.8003 18.5591 10.6831 18.4419C10.5658 18.3247 10.5 18.1657 10.5 18C10.5 17.8342 10.5658 17.6753 10.6831 17.558C10.8003 17.4408 10.9592 17.375 11.125 17.375H23.3664L18.8078 12.8172C18.6905 12.6999 18.6247 12.5408 18.6247 12.375C18.6247 12.2091 18.6905 12.0501 18.8078 11.9328C18.9251 11.8155 19.0841 11.7496 19.25 11.7496C19.4159 11.7496 19.5749 11.8155 19.6922 11.9328L25.3172 17.5578C25.3753 17.6158 25.4214 17.6848 25.4529 17.7606C25.4843 17.8365 25.5005 17.9178 25.5005 18C25.5005 18.0821 25.4843 18.1634 25.4529 18.2393C25.4214 18.3152 25.3753 18.3841 25.3172 18.4422Z" fill="white" stroke="white" stroke-width="0.5"/>
        </svg>
      {% when 'blue-accent-rounded-vp' %}
        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg" style="width: 20px;height: 20px;">
          <rect width="20" height="20" rx="10" fill="#C4CCE3" fill-opacity="0.5"/>
          <path d="M25.3172 18.4422L19.6922 24.0672C19.5749 24.1844 19.4159 24.2503 19.25 24.2503C19.0841 24.2503 18.9251 24.1844 18.8078 24.0672C18.6905 23.9499 18.6247 23.7908 18.6247 23.625C18.6247 23.4591 18.6905 23.3001 18.8078 23.1828L23.3664 18.625H11.125C10.9592 18.625 10.8003 18.5591 10.6831 18.4419C10.5658 18.3247 10.5 18.1657 10.5 18C10.5 17.8342 10.5658 17.6753 10.6831 17.558C10.8003 17.4408 10.9592 17.375 11.125 17.375H23.3664L18.8078 12.8172C18.6905 12.6999 18.6247 12.5408 18.6247 12.375C18.6247 12.2091 18.6905 12.0501 18.8078 11.9328C18.9251 11.8155 19.0841 11.7496 19.25 11.7496C19.4159 11.7496 19.5749 11.8155 19.6922 11.9328L25.3172 17.5578C25.3753 17.6158 25.4214 17.6848 25.4529 17.7606C25.4843 17.8365 25.5005 17.9178 25.5005 18C25.5005 18.0821 25.4843 18.1634 25.4529 18.2393C25.4214 18.3152 25.3753 18.3841 25.3172 18.4422Z" fill="white" stroke="white" stroke-width="0.5"/>
        </svg>
    {% endcase %}
  {% endif %}
</span>
