{% comment %}
  Renders button with thumbnail from Youtube and popup with preview image and video iframe

  Accepts:
    - video_id: {string} Youtube video ID (required)
    - popup_id: {string} Popup ID (required)

  Usage:
  {% render 'youtube-video' video_id: 'youtube_video_id' %}
{% endcomment %}

{% if video_id and video_id != empty %}
  <div x-data="videoInitialization('{{ video_id }}', 'video-{{ popup_id }}')">
    <div @trigger-play.window="() =>{ if($event.detail === '{{ popup_id }}'); {openPopup('{{ popup_id }}'); play()}}">
      {% unless button_type == 'hidden' %}
        {% if button_type == 'button' %}
          <button
            class="flex gap-2 items-center justify-center font-bold text-white text-lg hover:scale-102 active:scale-100 disabled:opacity-30 transition duration-100 lg:w-auto w-full mb-5 lg:mx-0 mx-auto"
            @click="openPopup('{{ popup_id }}'), play()"
          >
            <span>Watch the Video</span>
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g clip-path="url(#clip0_352_141294)">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M1.02438 11.7073C1.02438 5.64564 5.93835 0.731689 12 0.731689C18.0616 0.731689 22.9756 5.64564 22.9756 11.7073C22.9756 17.7689 18.0616 22.6829 12 22.6829C5.93835 22.6829 1.02438 17.7689 1.02438 11.7073ZM9.60608 6.96455C9.84403 6.83723 10.1327 6.85116 10.3572 7.00084L16.5036 11.0984C16.7072 11.2341 16.8294 11.4626 16.8294 11.7072C16.8294 11.9519 16.7072 12.1803 16.5036 12.316L10.3572 16.4136C10.1327 16.5633 9.84403 16.5772 9.60608 16.4499C9.36819 16.3226 9.21962 16.0747 9.21962 15.8048V7.60968C9.21962 7.33983 9.36819 7.09187 9.60608 6.96455Z" fill="#0BADDC"/>
              </g>
              <defs>
                <clipPath id="clip0_352_141294">
                <rect width="24" height="23.4146" fill="white"/>
                </clipPath>
              </defs>
            </svg>
          </button>
        {% else %}
          <button
            class="text-yellow flex flex-col items-center justify-center gap-5 mb-5"
            @click="openPopup('{{ popup_id }}'), play()"
          >
            <span class="text-white text-sm uppercase font-medium">Watch the Video</span>
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g clip-path="url(#clip0_352_141294)">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M1.02438 11.7073C1.02438 5.64564 5.93835 0.731689 12 0.731689C18.0616 0.731689 22.9756 5.64564 22.9756 11.7073C22.9756 17.7689 18.0616 22.6829 12 22.6829C5.93835 22.6829 1.02438 17.7689 1.02438 11.7073ZM9.60608 6.96455C9.84403 6.83723 10.1327 6.85116 10.3572 7.00084L16.5036 11.0984C16.7072 11.2341 16.8294 11.4626 16.8294 11.7072C16.8294 11.9519 16.7072 12.1803 16.5036 12.316L10.3572 16.4136C10.1327 16.5633 9.84403 16.5772 9.60608 16.4499C9.36819 16.3226 9.21962 16.0747 9.21962 15.8048V7.60968C9.21962 7.33983 9.36819 7.09187 9.60608 6.96455Z" fill="#0BADDC"/>
              </g>
              <defs>
                <clipPath id="clip0_352_141294">
                <rect width="24" height="23.4146" fill="white"/>
                </clipPath>
              </defs>
            </svg>
          </button>
        {% endif %}
      {% endunless %}

      <div
        x-cloak
        x-show="isPopupOpen('{{ popup_id }}')"
        class="fixed inset-0 z-[110] overflow-y-auto bg-police-blue bg-opacity-80"
        id="{{ popup_id }}"
      >
        <div class="flex items-start flex-col justify-center min-h-[100dvh] md:flex-row md:min-h-screen px-4 md:items-center md:px-8 py-4">
          <div
            x-cloak
            @click="closePopup(), stop()"
            x-show="isPopupOpen('{{ popup_id }}')"
            x-transition:enter="transition ease-out transform"
            x-transition:enter-start="opacity-0"
            x-transition:enter-end="opacity-100"
            x-transition:leave="transition ease-in duration-200 transform"
            x-transition:leave-start="opacity-100"
            x-transition:leave-end="opacity-0"
            class="fixed inset-0 transition-opacity bg-police-blue bg-opacity-80"
            aria-hidden="true"
          ></div>

          <div
            x-cloak
            x-show="isPopupOpen('{{ popup_id }}')"
            x-transition:enter="transition ease-out transform"
            x-transition:enter-start="opacity-0 translate-y-4 md:translate-y-0 md:scale-95"
            x-transition:enter-end="opacity-100 translate-y-0 md:scale-100"
            x-transition:leave="transition ease-in duration-200 transform"
            x-transition:leave-start="opacity-100 translate-y-0 md:scale-100"
            x-transition:leave-end="opacity-0 translate-y-4 md:translate-y-0 md:scale-95"
            class="inline-block w-full xl:max-w-7xl my-20 md:my-2.5 overflow-hidden transition-all transform bg-white"
            @click.outside="stop()"
          >
            {% unless button_type == 'hidden' %}
              <div class="flex items-center justify-center aspect-video" :class="{ 'hidden': isPlaying }">
                <img
                  loading="lazy"
                  src="https://img.youtube.com/vi/{{ video_id }}/maxresdefault.jpg"
                  alt="placeholder image"
                  class="object-cover aspect-video w-full h-full"
                >
                <div class="absolute">
                  <button
                    class="flex items-center justify-center w-22 h-14 rounded-4.5 bg-primary text-green_accent shadow hover:scale-110 transition-transform transform rounded-3xl"
                    @click="play()"
                  >
                    {% render 'icon', icon: 'play' %}
                  </button>
                </div>
              </div>
            {% endunless %}
            <div class="aspect-video" x-show.transition.in.opacity.duration.500ms="isPlaying" x-cloak>
              <iframe
                x-ref="videoElement"
                src=""
                class="aspect-video w-full"
                title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen
              ></iframe>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endif %}
