{% liquid
  assign section_id = section.id

  assign padding_top_mobile = section.settings.padding_top_mobile
  assign padding_bottom_mobile = section.settings.padding_bottom_mobile
  assign padding_top_desktop = section.settings.padding_top_desktop
  assign padding_bottom_desktop = section.settings.padding_bottom_desktop

  assign image_mobile = section.settings.image_mobile
  assign image_desktop = section.settings.image_desktop
%}

{% render 'offset',
  id: section_id,
  padding_top_mobile: padding_top_mobile,
  padding_bottom_mobile: padding_bottom_mobile,
  padding_top_desktop: padding_top_desktop,
  padding_bottom_desktop: padding_bottom_desktop
%}

<section id="section-{{ section_id }}">
  <div class="overflow-hidden">
    <div class="container">
      <div class="items-center xl:grid xl:grid-cols-12 xl:gap-6">
        <div class="!mt-10 xl:col-span-5 xl:!mt-0 xl:py-24 xl:pr-14">
          <h1 class="mb-8 text-center text-32 font-medium leading-10 xl:mb-19.5 xl:text-5xl">
            {{ 'customer.register.title' | t }}
          </h1>
          {%- form 'create_customer', class: 'w-full' -%}
            {%- if form.errors -%}
              <div class="mb-5 bg-red/10 p-5 text-red">
                <p>{{ 'templates.contact.form.error_heading' | t }}</p>
                <ul>
                  {%- for field in form.errors -%}
                    <li>
                      {%- if field == 'form' -%}
                        <span>
                          {{ form.errors.messages[field] }}
                        </span>
                      {%- else -%}
                        <a href="#RegisterForm-{{ field }}">
                          {{ form.errors.translated_fields[field] | capitalize }}
                          {{ form.errors.messages[field] }}
                        </a>
                      {%- endif -%}
                    </li>
                  {%- endfor -%}
                </ul>
              </div>
            {%- endif -%}
              <div class="xl:grid xl:grid-cols-2 xl:gap-4">
                <div class="mb-4">
                  <div class="relative">
                    <input
                      class="peer w-full border border-police-blue-70 px-5 pb-2.5 pt-5 placeholder:text-police-blue-70 placeholder:opacity-0 hover:border-police-blue focus:!outline focus:!outline-police-blue focus:!outline-1 disabled:opacity-30{% if form.errors contains 'form' %} border-red{% endif %}"
                      type="text"
                      name="customer[first_name]"
                      id="RegisterForm-FirstName"
                      {% if form.first_name %}
                        value="{{ form.first_name }}"
                      {% endif %}
                      autocomplete="given-name"
                      placeholder="{{ 'customer.register.first_name' | t }}"
                      required
                    >
                    <label
                      for="RegisterForm-FirstName"
                      class="absolute start-0 top-2 z-10 -translate-y-1.5 transform cursor-text pl-5 text-sm text-police-blue-70 duration-300 peer-placeholder-shown:top-1/2 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:text-base peer-focus:top-2 peer-focus:-translate-y-1.5 peer-focus:text-sm"
                    >
                      <span>{{ 'customer.register.first_name' | t }}</span>
                    </label>
                  </div>
                </div>
                <div class=" mb-4">
                  <div class="relative">
                    <input
                      class="peer w-full border border-police-blue-70 px-5 pb-2.5 pt-5 placeholder:text-police-blue-70 placeholder:opacity-0 hover:border-police-blue focus:!outline focus:!outline-police-blue focus:!outline-1 disabled:opacity-30{% if form.errors contains 'form' %} border-red{% endif %}"
                      type="text"
                      name="customer[last_name]"
                      id="RegisterForm-LastName"
                      {% if form.last_name %}
                        value="{{ form.last_name }}"
                      {% endif %}
                      autocomplete="family-name"
                      placeholder="{{ 'customer.register.first_name' | t }}"
                      required
                    >
                    <label
                      for="RegisterForm-LastName"
                      class="absolute start-0 top-2 z-10 -translate-y-1.5 transform cursor-text pl-5 text-sm text-police-blue-70 duration-300 peer-placeholder-shown:top-1/2 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:text-base peer-focus:top-2 peer-focus:-translate-y-1.5 peer-focus:text-sm"
                    >
                      <span>{{ 'customer.register.last_name' | t }}</span>
                    </label>
                  </div>
                </div>
              </div>
              <div class=" mb-4">
                <div class="relative">
                  <input
                    class="peer w-full border border-police-blue-70 px-5 pb-2.5 pt-5 placeholder:text-police-blue-70 placeholder:opacity-0 hover:border-police-blue focus:!outline focus:!outline-police-blue focus:!outline-1 disabled:opacity-30{% if form.errors contains 'form' %} border-red{% endif %}"
                    type="email"
                    name="customer[email]"
                    id="RegisterForm-email"
                    {% if form.email %}
                      value="{{ form.email }}"
                    {% endif %}
                    spellcheck="false"
                    autocapitalize="off"
                    autocomplete="email"
                    aria-required="true"
                    {% if form.errors contains 'email' %}
                      aria-invalid="true"
                      aria-describedby="RegisterForm-email-error"
                    {% endif %}
                    placeholder="{{ 'customer.register.email' | t }}"
                    required
                  >
                  <label
                    class="absolute start-0 top-2 z-10 -translate-y-1.5 transform cursor-text pl-5 text-sm text-police-blue-70 duration-300 peer-placeholder-shown:top-1/2 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:text-base peer-focus:top-2 peer-focus:-translate-y-1.5 peer-focus:text-sm"
                    for="RegisterForm-email"
                  >
                    <span>{{ 'customer.register.email' | t }}</span>
                  </label>
                </div>
                {%- if form.errors contains 'email' -%}
                  <span
                    class="mt-1 inline-block text-red"
                    id="RegisterForm-email-error"
                    >Email {{ form.errors.messages.email }}.</span
                  >
                {%- endif -%}
              </div>
              <div class="mb-4">
                <div class="relative">
                  <input
                    class="peer w-full border border-police-blue-70 px-5 pb-2.5 pt-5 placeholder:text-police-blue-70 placeholder:opacity-0 hover:border-police-blue focus:!outline focus:!outline-1 focus:!outline-police-blue disabled:opacity-30{% if form.errors contains 'form' %} border-red{% endif %}"
                    type="password"
                    name="customer[password]"
                    id="RegisterForm-password"
                    aria-required="true"
                    {% if form.errors contains 'password' %}
                      aria-invalid="true"
                      aria-describedby="RegisterForm-password-error"
                    {% endif %}
                    placeholder="{{ 'customer.register.password' | t }}"
                    required
                  >
                  <label
                    class="absolute start-0 top-2 z-10 -translate-y-1.5 transform cursor-text pl-5 text-sm text-police-blue-70 duration-300 peer-placeholder-shown:top-1/2 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:text-base peer-focus:top-2 peer-focus:-translate-y-1.5 peer-focus:text-sm"
                    for="RegisterForm-password"
                  >
                    <span>{{ 'customer.register.password' | t }}</span>
                  </label>
                </div>
                {%- if form.errors contains 'password' -%}
                  <span class="mt-1 inline-block text-red" id="RegisterForm-password-error">
                    {{- 'customer.register.password' | t }}
                    {{ form.errors.messages.password }}.</span
                  >
                {%- endif -%}
              </div>
                <button
                  class="flex w-full items-center justify-center gap-2 bg-yellow px-10 py-4.25 text-center text-sm font-medium uppercase tracking-wide text-police-blue hover:scale-102 active:scale-100 disabled:opacity-20"
                  type="submit"
                >
                  <span>{{ 'customer.register.submit' | t }}</span>
                </button>
              <div class="mb-10 mt-6 flex items-center justify-center space-x-4">
                <span class="h-px grow bg-police-blue-20"></span>
                <span class="text-sm text-police-blue-70">{{ 'customer.login_page.or_fallback' | t }}</span>
                <span class="h-px grow bg-police-blue-20"></span>
              </div>
            <input name="return_to" type="hidden" value="/account">
          {%- endform -%}
          <div class="mt-9 text-center">
            {{ 'customer.register.have_account' | t }}
            <a
              href="/account/login"
              title="{{ 'customer.login_page.sign_in' | t }}"
              class="text-base text-persian-blue underline hover:no-underline active:underline disabled:opacity-30"
            >
              <span>{{ 'customer.login_page.sign_in' | t }}</span>
            </a>
          </div>
        </div>
        <div class="-mx-4 mt-9 xl:relative xl:col-span-7 xl:mx-0 xl:mt-0 xl:h-full xl:min-h-[912px]">
          <div class="aspect-square xl:absolute xl:left-0 xl:aspect-[1097/912] xl:h-full xl:w-[58vw] xl:max-w-275">
            {% render 'picture',
              image_desktop: image_desktop,
              image_mobile: image_mobile,
              lazy: 'lazy',
              desktop_size: '60',
              is_full_size: true,
              class: 'object-cover w-full h-full'
            %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% schema %}
  {
    "name": "Register",
    "settings": [
      {
        "type": "image_picker",
        "id": "image_mobile",
        "label": "Mobile Image"
      },
      {
        "type": "image_picker",
        "id": "image_desktop",
        "label": "Desktop Image"
      },
      {
        "type": "header",
        "content": "Paddings"
      },
      {
        "type": "number",
        "id": "padding_top_mobile",
        "label": "Padding Top Mobile (px)",
        "info": "Until 768px",
        "default": 0
      },
      {
        "type": "number",
        "id": "padding_bottom_mobile",
        "label": "Padding Bottom Mobile (px)",
        "info": "Until 768px",
        "default": 0
      },
      {
        "type": "number",
        "id": "padding_top_desktop",
        "label": "Padding Top Desktop (px)",
        "info": "From 768px",
        "default": 0
      },
      {
        "type": "number",
        "id": "padding_bottom_desktop",
        "label": "Padding Bottom Desktop (px)",
        "info": "From 768px",
        "default": 0
      }
    ]
  }
{% endschema %}
