{% liquid
  assign section_id = section.id

  assign padding_top_mobile = section.settings.padding_top_mobile
  assign padding_bottom_mobile = section.settings.padding_bottom_mobile
  assign padding_top_desktop = section.settings.padding_top_desktop
  assign padding_bottom_desktop = section.settings.padding_bottom_desktop
  
%}

{% render 'offset',
  id: section_id,
  padding_top_mobile: padding_top_mobile,
  padding_bottom_mobile: padding_bottom_mobile,
  padding_top_desktop: padding_top_desktop,
  padding_bottom_desktop: padding_bottom_desktop
%}

<section id="section-{{ section_id }}">
  <div class="container">
    <div class="lg:grid lg:grid-cols-12 gap-x-6">
      <div class="xl:col-span-4 lg:col-span-6 xl:col-start-5 lg:col-start-4 text-center">
        {% render 'picture',
          image_mobile: section.settings.image,
          image_desktop: section.settings.image,
          is_full_size: false,
          class: 'mx-auto lg:mb-12 mb-10 lg:px-0 px-10'
        %}
        <h2 class="lg:text-5xl text-40 lg:mb-8 mb-6">
          {{ section.settings.section_title }}
        </h2>
        <div class="lg:mb-8 mb-6 lg:px-0 px-3.5">
          {{ section.settings.section_text }}
        </div>
        <a class="flex gap-2 items-center justify-center text-center font-medium text-police-blue px-10 py-4.25 text-sm uppercase bg-yellow hover:scale-102 active:scale-100 disabled:opacity-20 transition duration-100 lg:max-w-max mx-auto" href="{{ section.settings.button_link }}">{{ section.settings.button_label }}</a>
      </div>
    </div>
  </div>
</section>


{% schema %}
  {
    "name": "Page 404",
    "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      },
      {
        "type": "text",
        "id": "section_title",
        "label": "Section Title"
      },
      {
        "type": "richtext",
        "id": "section_text",
        "label": "Section Text"
      },
      {
        "type": "text",
        "id": "button_label",
        "label": "Button Label"
      },
      {
        "type": "url",
        "id": "button_link",
        "label": "Button Link"
      },
      {
        "type": "header",
        "content": "Paddings"
      },
      {
        "type": "number",
        "id": "padding_top_mobile",
        "label": "Padding Top Mobile (px)",
        "info": "Until 768px",
        "default": 0
      },
      {
        "type": "number",
        "id": "padding_bottom_mobile",
        "label": "Padding Bottom Mobile (px)",
        "info": "Until 768px",
        "default": 0
      },
      {
        "type": "number",
        "id": "padding_top_desktop",
        "label": "Padding Top Desktop (px)",
        "info": "From 768px",
        "default": 0
      },
      {
        "type": "number",
        "id": "padding_bottom_desktop",
        "label": "Padding Bottom Desktop (px)",
        "info": "From 768px",
        "default": 0
      }
    ],
    "presets": [
      {
        "name": "Page 404"
      }
    ]
  }
{% endschema %}
