<section id="section-{{ section_id }}">
  <div class="border-b border-police-blue-20 pb-5">
    <div class="container">
      <h1 class="mb-2.5 mt-4 text-center text-40 font-medium tracking-tight lg:mb-4 lg:mt-5.5 lg:text-64">
        {{- 'customer.account.title' | t: first_name: customer.first_name -}}
      </h1>
    </div>
  </div>
  <div class="container">
    <div class="lg:grid lg:grid-cols-12 lg:gap-x-6 lg:pb-35">
      <div class="mb-15 pt-7 lg:col-span-8 lg:mb-0 lg:pt-16">
        <h2 class="mb-6 text-center text-32 font-medium lg:mb-6 lg:text-left lg:text-40">
          {{- 'customer.orders.title' | t -}}
        </h2>
        <div>
          {% paginate customer.orders by 20 %}
            <div>
              <div>
                {%- if customer.orders.size > 0 -%}
                  <div x-data="{orderListCollapsed: true}">
                    <div
                      class="hidden text-police-blue-70 py-4 text-sm uppercase leading-none tracking-wide lg:grid lg:grid-cols-5 lg:gap-4 lg:pb-3.5 lg:font-medium"
                    >
                      <div>{{ 'customer.orders.order_number' | t }}</div>
                      <div>{{ 'customer.orders.payment_label' | t }}</div>
                      <div class="col-start-2 row-start-1">{{ 'customer.orders.date' | t }}</div>
                      <div>{{ 'customer.orders.fulfillment_label' | t }}</div>
                      <div class="text-right">{{ 'customer.orders.total' | t }}</div>
                    </div>
                    <div
                      class="grid grid-cols-[auto_1fr_auto_auto] items-center border-b border-police-blue-20 lg:grid-cols-5 lg:gap-x-4"
                    >
                      {%- for order in customer.orders -%}
                        <div
                          :class="{'!grid': !orderListCollapsed}"
                          class="{% if forloop.index > 3 %}hidden lg:grid{% else %}grid{% endif %} col-span-5 grid-cols-subgrid border-t border-police-blue-20 py-5.5 lg:py-6"
                        >
                          <div class="">
                            <a
                              class="text-persian-blue underline hover:no-underline lg:flex lg:items-center lg:space-x-1"
                              href="{{ order.customer_url }}"
                            >
                              <span>#{{ order.order_number }}</span>
                              <span class="hidden lg:flex text-police-blue-70">
                                {%- render 'icon', icon: 'chevron-right', class: 'size-4' -%}
                              </span>
                            </a>
                          </div>
                          <div class="pl-2 text-sm lg:pl-0 lg:text-base">
                            <span
                              class="inline-block bg-bright-gray px-2 leading-5 lg:leading-6"
                            >
                              {{- order.financial_status_label -}}
                            </span>
                          </div>
                          <div
                            class="pl-4 text-sm text-police-blue-70 lg:col-start-2 lg:row-start-1 lg:pl-0 lg:text-base lg:text-police-blue"
                          >
                            {{- order.created_at | time_tag: '%b %d, %Y' -}}
                          </div>
                          <div class="hidden lg:block">
                            <span class="inline-block bg-bright-gray px-2 leading-5 lg:leading-6 capitalize">
                              {{ order.fulfillment_status }}
                            </span>
                          </div>
                          <div class="pl-5 text-right lg:pl-0">
                            <a class="flex items-center justify-end space-x-1" href="{{ order.customer_url }}">
                              <span>{{ order.total_net_amount | money }}</span>
                              <span class="flex lg:hidden">
                                {%- render 'icon', icon: 'chevron-right', class: 'size-4' -%}
                              </span>
                            </a>
                            <span class="hidden">{{ order.total_net_amount | money }}</span>
                          </div>
                        </div>
                      {% endfor %}
                    </div>
                    {% if customer.orders.size > 3 %}
                      <div class="mt-4 flex justify-center lg:hidden">
                        <a
                          class="group flex items-center space-x-1"
                          @click="orderListCollapsed = false"
                          x-show="orderListCollapsed"
                          href="#"
                        >
                          <span
                            class="text-persian-blue underline group-hover:no-underline"
                          >
                            {{- 'customer.account.all_orders_label' | t -}}
                          </span>
                          <span class="size-4 flex items-center justify-center">
                            {%- render 'icon', icon: 'chevron-down' -%}
                          </span>
                        </a>
                      </div>
                    {% endif %}
                  </div>
                {%- else -%}
                  <p>{{ 'customer.orders.none' | t }}</p>
                {%- endif -%}
              </div>
              {%- if paginate.pages > 1 -%}
                {%- if paginate.parts.size > 0 -%}
                  <div class="mt-5">
                    {% render 'pagination', paginate: paginate %}
                  </div>
                {% endif %}
              {% endif %}
            </div>
          {% endpaginate %}
        </div>
      </div>
      <div class="lg:col-span-4 lg:pt-10 xl:pl-10 3xl:pl-18">
        <div class="bg-bright-gray p-6 pt-5 lg:p-10 lg:pt-7">
          <h2 class="mb-2 font-medium lg:text-32">
            {{- 'customer.account.details' | t -}}
          </h2>
          <div>
            {{ customer.default_address | format_address }}
          </div>
          <a
            href="{{ routes.account_addresses_url }}"
            class="mt-5.5 flex items-center justify-center gap-2 bg-police-blue px-10 py-4.25 text-center text-sm font-medium uppercase tracking-wide text-white hover:scale-102 active:scale-100 disabled:opacity-30"
          >
            <span>{{ 'customer.account.view_addresses' | t: count: customer.addresses_count }}</span>
          </a>
        </div>
        <div class="mt-4 border border-police-blue-70 p-6 pt-5 lg:mt-6 lg:p-10 lg:mb-0" x-data="wishlist">
          <div class="text-2xl font-medium lg:text-32">{{ 'wishlist.page_title' | t }}</div>
          <div class="mb-2 text-sm text-police-blue-70 lg:mb-8">
            <template x-if="wishListData.length == 1">
              <span>{{ 'wishlist.count.one' | t }}</span>
            </template>
            <template x-if="wishListData.length > 1">
              <span x-text="`${wishListData.length} {{ 'wishlist.count.other' | t }}`"> </span>
            </template>
          </div>
          <ul class="lg:hidden">
            <template x-for="(product, index) in wishListData" :key="product.epi">
              <template x-if="index < 3">
                <li
                  class="grid grid-cols-[48px_1fr] gap-x-4 py-4 border-b border-police-blue-20 items-start"
                  :class="{'border-none': index === 2}"
                >
                  <div class="bg-gray-100 aspect-square w-full p-1">
                    <img class="aspect-square w-full object-contain mix-blend-darken" :src="product.iu" alt="">
                  </div>
                  <div>
                    <a class="mb-3 line-clamp-1 leading-none" :href="product.du" x-text="product.dt"></a>
                    <div class="leading-none">
                      <span class="sr-only">{{ 'products.product.price.sale_price' | t }}</span>
                      <span :class="{'text-red': getCompareAtPrice(product)}" x-text="getPrice(product)"></span>

                      <span x-show="getCompareAtPrice(product)">
                        <span class="sr-only">{{ 'products.product.price.regular_price' | t }}</span>
                        <span
                          class="ml-2 text-base text-police-blue-70 line-through"
                          x-text="getCompareAtPrice(product)"
                        >
                        </span>
                      </span>
                    </div>
                  </div>
                </li>
              </template>
            </template>
          </ul>
          <a
            href="#swym-wishlist"
            class="mt-2 flex items-center justify-center gap-2 bg-police-blue px-10 py-4.25 text-center text-sm font-medium uppercase tracking-wide text-white hover:scale-102 active:scale-100 disabled:opacity-30"
          >
            {{ 'wishlist.view_all' | t }}
          </a>
        </div>
        <div class="mt-4 border border-police-blue-70 p-6 pt-5 mb-18 lg:mt-6 lg:px-10 lg:py-5 lg:mb-0">
          <a
            class="mt-2 flex items-center justify-center gap-2 bg-police-blue px-10 py-4.25 text-center text-sm font-medium uppercase tracking-wide text-white hover:scale-102 active:scale-100 disabled:opacity-30"
            href="{{ routes.account_logout_url }}"
            title="{{ 'customer.log_out' | t }}"
          >
            {{- 'customer.log_out' | t -}}
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

{% schema %}
  {
    "name": "t:sections.main-account.name",
    "settings": []
  }
{% endschema %}
