{% liquid
  assign section_id = section.id

  assign padding_top_mobile = section.settings.padding_top_mobile
  assign padding_bottom_mobile = section.settings.padding_bottom_mobile
  assign padding_top_desktop = section.settings.padding_top_desktop
  assign padding_bottom_desktop = section.settings.padding_bottom_desktop

  assign image_mobile = section.settings.image_mobile
  assign image_desktop = section.settings.image_desktop
  assign image_featured = section.settings.image_featured
  assign title = section.settings.title
  assign title_tag = section.settings.title_tag
  assign subtitle = section.settings.subtitle

  assign horizontal_alignment = section.settings.horizontal_alignment
  case horizontal_alignment
  assign column_class = ''
    when 'left'
      assign column_class = 'col-span-5 col-start-2 lg:text-left'
    when 'right'
      assign column_class = 'col-span-5 col-start-6 lg:text-left'
  endcase 
%}

{% if image_desktop and image_mobile %}
  <section id="section-{{ section_id }}">
    <div class="lg:container rounded-xl">
      <div x-data="modalPopup()" class="relative">
        <div class="image-wrapper rounded-xl">
          <div style=""
            class="absolute z-10 left-0 right-0 top-0 w-full h-32"></div>
          <div class="absolute -z-10 left-0 top-0 h-full w-full rounded-xl">
            {% render 'picture',
            image_mobile: image_mobile,
            image_desktop: image_desktop,
            is_full_size: true,
            class: 'w-full h-full object-cover rounded-xl'
            %}
            <div style=""></div>
          </div>
          <div class="h-full">
              <div class="lg:grid lg:gap-6 grid-cols-12 items-center">
                <div class="text-white text-left {{ column_class }}">
                  {% if section.settings.icon != blank %}
                    {% render 'picture',
                      image_mobile: section.settings.icon,
                      image_desktop: section.settings.icon,
                      is_full_size: false,
                      class: 'lg:mb-2 mb-4 md:mx-0 mx-auto'
                    %}
                  {% endif %} 
                  <{{ title_tag }} class="text-30 font-medium tracking-tight xl:text-48 md:mx-0 mx-auto md:text-left text-center">{{ title }}</{{ title_tag }}>
                  <div class="lg:mb-6 mb-3 md:mx-0 mx-auto max-w-56 md:max-w-max md:text-left text-center">{{ subtitle }}</div>
                  
                  {% if section.settings.youtube_id != blank %}
                    {% render 'youtube-video', video_id: section.settings.youtube_id, popup_id: section_id, button_type: 'button' %}
                  {% endif %}
                </div>
                <div class="text-white col-span-6">
                  {% render 'picture',
                    image_desktop: image_featured,
                    is_full_size: false,
                    class: '',                    
                    style="max-width: 90%;"
                  %}
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <style>
    #section-{{ section.id }} .image-wrapper {
      padding-top: {{ padding_top_desktop }}px;
      padding-bottom: {{ padding_bottom_desktop }}px;
    }
    @media (max-width: 767px) {
      #section-{{ section.id }} .image-wrapper {
        padding-top: {{ padding_top_mobile }}px;
        padding-bottom: {{ padding_bottom_mobile }}px;
      }
    }
  </style>
{% endif %}

{% schema %}
  {
    "name": "Video Banner With Image",
    "settings": [
      {
        "type": "header",
        "content": "Content Alignment"
      },
      {
        "type": "select",
        "id": "horizontal_alignment",
        "label": "Horizontal alignment",
        "options": [
          {
            "value": "left",
            "label": "Left"
          },
          {
            "value": "right",
            "label": "Right"
          }
        ],
        "default": "left"
      },
      {
        "type": "header",
        "content": "Content"
      },
      {
        "type": "image_picker",
        "id": "image_mobile",
        "label": "Mobile Image"
      },
      {
        "type": "image_picker",
        "id": "image_desktop",
        "label": "Desktop Image"
      },
      {
        "type": "image_picker",
        "id": "icon",
        "label": "Icon"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      },
      {
        "type": "image_picker",
        "id": "image_featured",
        "label": "Featured Image"
      },
            {
        "type": "select",
        "id": "title_tag",
        "label": "Title Tag",
        "default": "h1",
        "options": [
          {
            "value": "h1",
            "label": "H1"
          },
          {
            "value": "h2",
            "label": "H2"
          }
        ]
      },
      {
        "type": "richtext",
        "id": "subtitle",
        "label": "Subtitle"
      },
      {
        "type": "text",
        "id": "youtube_id",
        "label": "Youtube id"
      },
      {
        "type": "header",
        "content": "Paddings"
      },
      {
        "type": "number",
        "id": "padding_top_mobile",
        "label": "Padding Top Mobile (px)",
        "info": "Until 768px",
        "default": 0
      },
      {
        "type": "number",
        "id": "padding_bottom_mobile",
        "label": "Padding Bottom Mobile (px)",
        "info": "Until 768px",
        "default": 0
      },
      {
        "type": "number",
        "id": "padding_top_desktop",
        "label": "Padding Top Desktop (px)",
        "info": "From 768px",
        "default": 0
      },
      {
        "type": "number",
        "id": "padding_bottom_desktop",
        "label": "Padding Bottom Desktop (px)",
        "info": "From 768px",
        "default": 0
      }
    ],
    "presets": [
      {
        "name": "Video Banner With Image"
      }
    ]
  }
{% endschema %}
