{% liquid
  assign section_id = section.id

  assign padding_top_mobile = section.settings.padding_top_mobile
  assign padding_bottom_mobile = section.settings.padding_bottom_mobile
  assign padding_top_desktop = section.settings.padding_top_desktop
  assign padding_bottom_desktop = section.settings.padding_bottom_desktop

  assign image_mobile = section.settings.image_mobile
  assign image_desktop = section.settings.image_desktop
  assign banner_icon = section.settings.banner_icon
  assign enable_overlay = section.settings.enable_overlay
  assign title = section.settings.title
  assign title_tag = section.settings.title_tag
  assign subtitle = section.settings.subtitle
  assign button_label = section.settings.button_label
  assign button_link = section.settings.button_link
  assign title_max_width_mobile = section.settings.title_max_width_mobile
  assign title_max_width_desktop = section.settings.title_max_width_desktop

  assign horizontal_alignment = section.settings.horizontal_alignment
  case horizontal_alignment
      assign column_class = ''
    when 'left'
      assign column_class = 'col-span-12 col-start-1 lg:text-left'
    when 'center'
      assign column_class = 'col-span-6 col-start-4'
    when 'right'
      assign column_class = 'col-span-5 col-start-8 lg:text-right'
  endcase
%}

{% if image_desktop and image_mobile %}
  <section id="section-{{ section_id }}">
    <div class="relative mx-auto max-w-480 rounded-3xl h-full w-full mt-4 mr-4 ml-4">
      <div class="image-wrapper">
        <div
          style="background: none;"
          class="absolute z-10 left-0 right-0 bottom-0 w-full h-32"
        ></div>
        <div class="left-0 bottom-0 z-0 relative w-full h-[60vh] md:h-[80vh] rounded-3xl overflow-hidden bg-cover bg-center" style="background: url({{ image_desktop }})">
          {% if enable_overlay %}
            <div
              style="background: none;"
              class="absolute inset-0 w-full h-full"
            ></div>
          {% endif %}
        </div>
        <div class="relative z-10 h-full">
          <div class="container">
            <div class="lg:grid lg:gap-6 grid-cols-12">
              <div class="text-white text-center {{ column_class }}">
                {% if banner_icon != blank %}
                  {% render 'picture',
                    image_mobile: banner_icon,
                    image_desktop: banner_icon,
                    is_full_size: false,
                    class: 'lg:mb-8 mb-6 lg:mx-0 mx-auto'
                  %}
                {% endif %}
                  <{{ title_tag }} class="section-title text-white mx-auto mb-2 text-40 lg:!mx-0 font-medium tracking-tight md:mb-3 xl:text-64 lg:px-0 {% unless title_max_width_mobile > 0 or title_max_width_desktop > 0 %} max-w-165 px-2.5 {% endunless %}">
                    {{- title -}}
                  </{{ title_tag }}>

                <div class="section-subtitle text-white {% if button_link != blank %}lg:mb-8 mb-6{% endif %} lg:mx-0 mx-auto{% if section.settings.subtitle_full_width == false %} max-w-56{% endif %} md:max-w-max text-center lg:text-left {% if horizontal_alignment == 'center' %} lg:mx-auto lg:text-center{% elsif horizontal_alignment == 'right' %} lg:ml-auto lg:text-right{% endif %} lg:text-3xl text-lg">
                  {{- subtitle -}}
                </div>
                {% if button_link != blank %}
                  <a
                    class="flex gap-2 items-center justify-center text-center font-medium text-police-blue px-10 py-4.25 text-sm uppercase bg-yellow hover:scale-102 active:scale-100 disabled:opacity-20 transition duration-100 lg:max-w-max {% if horizontal_alignment == 'center' %} lg:mx-auto {% elsif horizontal_alignment == 'right' %} lg:ml-auto {% endif %}"
                    href="{{ button_link }}"
                  >
                    {{- button_label -}}
                  </a>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <style>
      #section-{{ section.id }} .image-wrapper {
        padding-top: {{ padding_top_desktop }}px;
        padding-bottom: {{ padding_bottom_desktop }}px;
      }
      @media (max-width: 767px) {
        #section-{{ section.id }} .image-wrapper {
          padding-top: {{ padding_top_mobile }}px;
          padding-bottom: {{ padding_bottom_mobile }}px;
        }
      }
      #section-{{ section_id }} .section-title {
      max-width: {% if title_max_width_mobile > 0 %} {{ title_max_width_mobile }}px {% else %} 100% {% endif %};

      @media screen and (min-width: 768px) {
        max-width: {% if title_max_width_desktop > 0 %} {{ title_max_width_desktop }}px {% else %} 100% {% endif %};
          {% if title_max_width_desktop > 0 %}
            margin-left: auto;
            margin-right: auto;
          {% endif %}
      }
    }
  </style>

  {% if page.handle == 'standardization' %}
    <style>
      #section-{{ section.id }} {
        .banner-image {
          @media (min-width: 768px) {
            object-position: 50% 25%;
          }
          @media (min-width: 1024px) {
            object-position: 90% 50%;
          }
          @media (min-width: 1280px) {
            object-position: 70% 50%;
          }
          @media (min-width: 1366px) {
            object-position: 60% 50%;
          }
        }
        .image-wrapper {
          padding-top: 460px;

          @media (min-width: 560px) {
            padding-top: 620px;
          }

          @media (min-width: 768px) {
            padding-top: 140px;
            padding-bottom: 40px;
          }

          @media (min-width: 1280px) {
            padding-top: 270px;
            padding-bottom: 50px;
          }
          @media (min-width: 1366px) {
            padding-top: 280px;
            padding-bottom: 40px;
          }
          @media (min-width: 1440px) {
            padding-top: 280px;
            padding-bottom: 60px;
          }
          @media (min-width: 1500px) {
            padding-top: 350px;
            padding-bottom: {{ padding_bottom_desktop }}px;
          }
          @media (min-width: 1600px) {
            padding-top: 450px;
            padding-bottom: {{ padding_bottom_desktop }}px;
          }
          @media (min-width: 1900px) {
            padding-top: {{ padding_top_desktop }}px;
            padding-bottom: {{ padding_bottom_desktop }}px;
          }
        }

        .section-title {
          @media (min-width: 768px) {
            max-width: 400px;
            margin-left: 0;
            text-align: left;
          }
          @media (min-width: 1370px) {
            max-width: 530px;
          }

          @media (min-width: 1810px) {
            max-width: 100%;
          }
        }

        .section-subtitle {
          @media (min-width: 768px) {
            margin-left: 0;
          }
        }
      }
    </style>
  {% endif %}
{% endif %}

{% schema %}
  {
    "name": "Hero Banner",
    "settings": [
      {
        "type": "header",
        "content": "Content Alignment"
      },
      {
        "type": "select",
        "id": "horizontal_alignment",
        "label": "Horizontal alignment",
        "options": [
          {
            "value": "left",
            "label": "Left"
          },
          {
            "value": "center",
            "label": "Center"
          },
          {
            "value": "right",
            "label": "Right"
          }
        ],
        "default": "left"
      },
      {
        "type": "header",
        "content": "Content"
      },
      {
        "type": "image_picker",
        "id": "image_mobile",
        "label": "Mobile Image"
      },
      {
        "type": "image_picker",
        "id": "image_desktop",
        "label": "Desktop Image"
      },
      {
        "type": "checkbox",
        "id": "enable_overlay",
        "label": "Enable overlay",
        "default": true
      },
      {
        "type": "image_picker",
        "id": "banner_icon",
        "label": "Icon"
      },
      {
        "type": "richtext",
        "id": "title",
        "label": "Title"
      },
      {
        "type": "select",
        "id": "title_tag",
        "label": "Title Tag",
        "default": "h1",
        "options": [
          {
            "value": "h1",
            "label": "H1"
          },
          {
            "value": "h2",
            "label": "H2"
          }
        ]
      },
      {
        "type": "number",
        "id": "title_max_width_mobile",
        "label": "Title Max Width Mobile"
      },
      {
        "type": "number",
        "id": "title_max_width_desktop",
        "label": "Title Max Width Desktop"
      },
      {
        "type": "richtext",
        "id": "subtitle",
        "label": "Subtitle"
      },
      {
        "type": "checkbox",
        "id": "subtitle_full_width",
        "label": "Subtitle Full Width on Mobile",
        "default": false
      },
      {
        "type": "text",
        "id": "button_label",
        "label": "Button Label"
      },
      {
        "type": "url",
        "id": "button_link",
        "label": "Button Link"
      },
      {
        "type": "header",
        "content": "Paddings"
      },
      {
        "type": "number",
        "id": "padding_top_mobile",
        "label": "Padding Top Mobile (px)",
        "info": "Until 768px",
        "default": 0
      },
      {
        "type": "number",
        "id": "padding_bottom_mobile",
        "label": "Padding Bottom Mobile (px)",
        "info": "Until 768px",
        "default": 0
      },
      {
        "type": "number",
        "id": "padding_top_desktop",
        "label": "Padding Top Desktop (px)",
        "info": "From 768px",
        "default": 0
      },
      {
        "type": "number",
        "id": "padding_bottom_desktop",
        "label": "Padding Bottom Desktop (px)",
        "info": "From 768px",
        "default": 0
      }
    ],
    "presets": [
      {
        "name": "Hero Banner"
      }
    ]
  }
{% endschema %}
